node_modules/
.next/
out/
build/
dist/

# env
.env*.local
.env.local.example
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
supabase/.branches
supabase/.temp

README.md